<div class="headerTop" style="background-color:#444444;height:7em;">
    <div class="HeaderSearch" >
        <img id="logoImg"  src="~/Content/Images/buttom/logotop.PNG" />
        <div class="txtser" style="width:16em;height:3.7em;">
         <span style="position:relative;left:20px;top:0.1em;font-size:28px;"> Настройки </span>
        </div>
    </div>
    <div class="loginControl" style="font-size:1.5em;">
        @Html.ActionLink("Закрыть", "Index", "Home")
    </div>
   
</div>
