@Html.DevExpress().PopupControl(settings => {
    settings.Name = "PopupRedAlert";
    settings.AllowResize = false;
    settings.ShowHeader = true;
    settings.ShowOnPageLoad = false;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.CloseOnEscape = true;
    settings.Modal = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.Styles.Content.BackColor = System.Drawing.Color.Transparent;
    settings.PopupElementID = "redAlertTab";
    settings.Styles.Header.BackColor = System.Drawing.Color.Red;
    settings.SetHeaderContentTemplateContent(content => {
        ViewContext.Writer.Write("<div class='redAlertTabHeader'>ДЕФИЦИТНЫЕ МАТЕРИАЛЫ ПО ОПЕРАЦИИ</div>");
        
    });
    settings.SetContent(() =>
    {
        ViewContext.Writer.Write("<div style='float: right !important; position: absolute; top: 0px; right: -45px;'>");
        Html.DevExpress().Image(image =>
        {
            image.Name = "Closebut2";
            image.ImageUrl = "~/Content/Images/CloseButtonCross.png";
            image.Width = 40;
            image.Height = 40;
            image.Properties.EnableClientSideAPI = true;
            image.Properties.ClientSideEvents.Click = "function(s,e) {PopupRedAlert.Hide();}";
        }).Render();
        ViewContext.Writer.Write("</div>");
        Html.RenderPartial("UserRedAlert", null);
    });
}).GetHtml()