@Html.DevExpress().PopupControl(settings =>
{
    settings.CallbackRouteValues = new { Controller = "Home", Action = "PopupConfirmTab" };
    settings.Name = "ConfirmOperationPopup";
    settings.AllowResize = false;
    settings.ShowHeader = true;
    settings.ShowOnPageLoad = false;
    settings.AllowDragging = true;
    settings.CloseOnEscape = true;
    settings.Modal = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.Styles.Content.BackgroundImage.ImageUrl = "~/Content/Images/TransparentBackground.png";
    settings.HeaderText = "";
    settings.Styles.Header.BackgroundImage.ImageUrl = null;
    settings.Styles.Header.BackColor = System.Drawing.ColorTranslator.FromHtml("#1a1a1a");
    settings.PopupElementID = "confirmTab";
    settings.ClientSideEvents.BeginCallback = "OnConfirmCallbackOper";
    settings.SetHeaderContentTemplateContent(content =>
    {
        ViewContext.Writer.Write("<div class='confirmTabHeader'></div>");
    });
    settings.SetContent(() =>
    {
        ViewContext.Writer.Write("<div style='background-color:rgb(46,46,46);margin-top:5px;'>");
        Html.RenderAction("TabStopClouseOper");
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='popup__main' ><br /><table class='popup__table_bot' style='width:645px;'><tr><td align='center' style='padding: 20px 0px 10px 50px;'><a href='javascript:ButOk()' class='button tick'></a></td><td align='center' style='padding: 20px 50px 10px 350px;'><a href='javascript:ConfirmOperationPopup.Hide();' class='button cross'></a></td></tr></table></div>");
    });
}).GetHtml()