<div class="popup__main">
    <div class="Waring" >
        <table style="margin-left: 40px;">
            <tr>
                <td style="width: 60px; padding: 10px;">
                    <img src="~/Content/Images/caution-sign-50px.png" />
                </td>
                <td style="padding: 10px;font-size: 16px; line-height: 1.4em;">
                   <div id="textW"></div>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <table class="popup__table_bot">
        <tr>
            <td align="center" style="padding: 20px 0px 10px 50px;"><a id="butWok" class="button tick"></a></td>
            <td align="center" style="padding: 20px 50px 10px 350px;"><a href="javascript:PopupCaution.Hide();" class="button cross"></a></td>
        </tr>
    </table>
</div>
