<div class="popup__main">
    <div class="error-windows">
        <table style="margin-left: 40px;">
            <tr>
                <td style="width: 60px; padding: 10px;">
                    <img src="~/Content/Images/caution-sign-white-50px.png" />
                </td>
                <td style="padding: 10px;font-size: 14px; line-height: 1.4em;">
                    <div id="err_message"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
